@charset "UTF-8";
@import "../base/variables";

@font-face {
  font-family: 'ZonaPro';
  src: url('../../static/fonts/ZonaPro-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'ZonaPro';
  src: url('../../static/fonts/ZonaPro-Bold.woff2')
    format('woff2');
  font-weight: bold;
}
 
@font-face {
  font-family: 'ZonaPro';
  src: url('../../static/fonts/ZonaPro-RegularItalic.woff2')
    format('woff2');
  font-style: italic;
}
 
@font-face {
  font-family: 'ZonaPro';
  src: url('../../static/fonts/ZonaPro-Thin.woff2')
    format('woff2');
  font-weight: 100;
}
 
@font-face {
  font-family: 'ZonaPro';
  src: url('../../static/fonts/ZonaPro-Hairline.woff2')
    format('woff2');
  font-weight: 200;
}
 
@font-face {
  font-family: 'ZonaPro';
  src: url('../../static/fonts/ZonaPro-SemiBold.woff2')
    format('woff2');
  font-weight: 500;
}

body {
  margin: 0;
  font-family: ZonaPro, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
